UsbHost_hw/UsbHost.dsn
UsbHost_hw/UsbHost.kicad_pcb-bak
UsbHost_hw/TindenetUsbHost/UsbHost.ses
UsbHost_fw/.settings/language.settings.xml
UsbHost_hw/_autosave-UsbHost.kicad_pcb
UsbHost_hw/UsbHost.ses
3D/~$Front.SLDPRT
*.csv
*.xml
